@import "../../styles/variables";

.suggestions{
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  box-shadow: $shadow;
  z-index: 100;
}
.suggestion{
  font-family: $mainFont;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  color: #211c1c;
  border-bottom: 1px solid #566B80;
  padding: 10px;
  display: flex;
  align-items: center;
  letter-spacing: .3px;
  text-decoration: none;

  &:first-child{
    border-radius: $bdRadius $bdRadius 0 0;
  }
  &:last-child{
    border-radius: 0 0 $bdRadius $bdRadius ;
    border-bottom: none;
  }

  &:hover, &:focus{
    background-color: $accentColor;
    outline: none;
    .suggestion__city{
      color: #ffffff;
    }
    .suggestion__region{
      color: #ffffff;
    }
  }

  &:visited{
    color: #211c1c;
  }
  &__city{
    color: #3156b5;
    font-weight: 400;
    margin-right: 7px;
  }

  &__region{
    font-size: 15px;
  }
}

@media screen and (max-width: 500px){
  .suggestion{
    font-size: 14px;
    &__region{
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 360px){
  .suggestion{
    font-size: 12px;
    &__region{
      font-size: 12px;
    }
  }
}