@import "../../styles/variables";

.weather-tabs{
  display: flex;
  list-style: none;
  padding: 0;
}

.weather-tab{
  font-family: $mainFont;
  background-color: #ffffff;
  border-radius: $bdRadius;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: $shadow;
  color: $mainFontColor;
  box-sizing: border-box;
  text-decoration: none;
  transition: .1s ease-out;

  &:hover{
    background-color: $lightAccentColor;
    color: #fff;
  }

  &:focus{
    background-color: $lightAccentColor;
    outline: none;
    color: #fff;
  }

  &.active{
    background-color: #3156b5;
    color: #fff;

    &:focus{
      outline: 1px solid #000000;
    }
  }

  & .weather-tab__date {
    font-size: 28px;
    font-weight: 300;
    width: auto;
    margin: 0;
  }

  &__wrap{
    max-width: 185px;
    flex: 1 1 120px;
    width: 100%;
    margin-right: 20px;
  }

  & .weather-tab__temperature {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon{
    height: 55px;
    width: auto;
  }
}

@media screen and (max-width: 660px) {
  .weather-tab{
    & .weather-tab__date {
      font-size: 18px;
    }
    & .weather-tab__temperature {
      font-size: 22px;
      line-height: 35px;
    }
    &__icon{
      height: 40px;
    }
  }
}

@media screen and (max-width: 500px) {
  .weather-tab{
    & .weather-tab__date {
      font-size: 16px;
    }
    & .weather-tab__temperature {
      font-size: 18px;
      line-height: 30px;
    }
    &__icon{
      height: 30px;
    }
    &__wrap{
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 360px) {

  .weather-tabs{align-items: stretch;}
  .weather-tab{
    height: 100%;
    & .weather-tab__date {
      display: block;
      font-size: 14px;
    }
    & .weather-tab__temperature {
      font-size: 18px;
      margin: 0;
    }
    &__icon{
      display: none;
    }
    &__wrap{
      margin-right: 10px;
    }
  }
}