@import "../../styles/variables";

.weather-tabs{
  display: flex;
  list-style: none;
  padding: 0;
}

.weather-tab{
  font-family: $mainFont;
  background-color: #ffffff;
  border-radius: $bdRadius;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: $shadow;
  color: $mainFontColor;
  box-sizing: border-box;
  text-decoration: none;
  transition: .1s ease-out;

  &:hover{
    background-color: $lightAccentColor;
    color: #fff;
  }

  &:focus{
    background-color: $lightAccentColor;
    outline: none;
    color: #fff;
  }

  &.active{
    background-color: #3156b5;
    color: #fff;

    &:focus{
      outline: 1px solid #000000;
    }
  }

  & .weather-tab__date {
    font-size: 28px;
    font-weight: 300;
    width: auto;
    margin: 0;
  }

  &__wrap{
    max-width: 185px;
    width: 100%;
    margin-right: 20px;
  }

  & .weather-tab__temperature {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon{
    height: 55px;
    width: auto;
  }
}