@import "../../styles/variables";

.search{
  max-width: 400px;

  &__form{
    width: 100%;
    display: flex;
    box-shadow: $shadow;
    border-radius: $bdRadius;
  }

  &__input{
    font-family: $mainFont;
    font-weight: 300;
    font-size: 18px;
    color: $mainFontColor;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #fff;
    outline: none;
    border-radius: $bdRadius 0 0 $bdRadius;
    transition: .1s ease-out;

    &:hover, &:focus{
      border: 1px solid $accentColor;
    }
  }
  &__button{
    font-family: $mainFont;
    font-weight: 300;
    font-size: 18px;
    height: 50px;
    max-width: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: $accentColor;
    color: #ffffff;
    border: none;
    border-radius: 0 $bdRadius $bdRadius 0;
    padding: 0;
    cursor: pointer;
    transition: $transition;

    &:hover{
      background-color: $lightAccentColor;
    }
    &:focus{
      background-color: $lightAccentColor;
      outline: none;
    }
  }
}